
<section ng-controller="ContactsController">
<header>
  <div class="row">
    <div class="twelve columns">
      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/79657-200.png" alt="logo" id="logo" />
    <h1 class=>fonebook</h1>
    </div>

  </div>

</header>

<div class="container">

  <div class="row">
    <div class="twelve columns">
      <input id="search"type="text" name="contactSearch" value="" ng-model="searchBox" placeholder="search">
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <div>
      		<label id="item-1-label" for="item-1">Add Contact</label>
      		<input type="checkbox" name="one" id="item-1">
      		  <div class="hide">
      				<div class="container">

                <!-- FORM -->

                <form ng-submit="createContact()">
                  <div class="row">
                    <h4>New Contact</h4>
                  </div>

                  <div class="row">
                    <div class="six columns">
                      <input class="u-full-width" type="text" value="" ng-model="newContact.first_name"  placeholder="First Name">
                    </div>
                    <div class="six columns">
                      <input class="u-full-width" type="text" value="" ng-model="newContact.last_name"  placeholder="Last Name">
                    </div>
                  </div>

                  <div class="row">
                    <div class="six columns">
                      <input class="u-full-width" type="text" value="" ng-model="newContact.phone_number"  placeholder="Phone">
                    </div>
                    <div class="six columns">
                      <input class="u-full-width" type="text" value="" ng-model="newContact.email"  placeholder="Email">
                    </div>
                  </div>

                  <div class="row">
                    <div class="six columns">
                      <input  class="u-full-width" type="text" value="" ng-model="newContact.street_address"  placeholder="Street">
                    </div>
                    <div class="six columns">
                      <input class="u-full-width" type="text" value="" ng-model="newContact.city"  placeholder="City">
                    </div>
                  </div>

                  <div class="row">
                    <div class="six columns">
                      <input class="u-full-width" type="text" value="" ng-model="newContact.state"  placeholder="State">
                    </div>
                    <div class="six columns">
                      <input class="u-full-width" type="text" value="" ng-model="newContact.zip"  placeholder="Zip">
                    </div>
                  </div>

                  <div class="row">
                    <div class="six columns">
                      <input class="u-full-width" type="text" value="" ng-model="newContact.country"  placeholder="Country">
                    </div>
                    <div class="six columns">
                      <input class="u-full-width" type="text" value="" ng-model="newContact.url"  placeholder="Image url">
                    </div>

                  </div>
                  <div class="row">
                    <button class="button-primary" type="submit">Save Contact</button>
                  </div>
                </form>
        </div><!-- end FORM container -->
      </div><!-- end hide -->
      </div><!--end form toggle -->
    </div><!--end 12col -->
  </div><!-- end row -->
</div><!-- end MAIN container -->

<!--==========================RENDER CONTACT DISPLAY==============================  -->

<div class="container">
  <div class="each-contact">
    <div ng-repeat="contact in contacts | filter: searchBox">

      <div class="row">
        <div class="twelve columns">
          <div class="contact-info" >
            <h4> {{ contact.first_name }} {{ contact.last_name }} </h4>
            <img ng-src="{{ contact.url }}" src="https://d107cgb5lgj7br.cloudfront.net/accounts/img/placeholders/avatar-4.png" id="contact-img">
          </div>
        </div>
      </div>

      <div class="row" id="phone">
        <div class="twelve columns">
          <p><strong>Phone: </strong>{{ contact.phone_number }}</p>
        </div>
      </div>

    <div class="row">
      <div class="twelve columns" id="email">
        <p><strong>Email: </strong>{{ contact.email}}</p>
      </div>
    </div>

    <div class="row" id="address">
      <div class="twelve columns">
      <!-- <div class="address" id="address"> -->
        <p>{{ contact.street_address }} {{ contact.city }}, {{ contact.state }} | {{ contact.zip }}</h5>
        <p>{{ contact.country}}</p>
      <!-- </div> -->
        <div class="remove">

          <button ng-click="deleteContact( $index )" id="btn-delete">Delete</button>
        </div>
      </div>
    </div>
      <hr id="end-entry">
    </div><!-- end NG REPEAT DIRECTIVE -->
  </div> <!-- end .each-contact -->
</div><!-- end container -->



</section>
