/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  text-align: center;
  background-color: gold;
  padding:0;
  margin: 0;
}
header{
  color:gold;
  background-color: black;
  margin-bottom: 0.5em;
  width: 100%;
  /*margin-right: -2em;
  margin-left: -2em;*/
  padding: 0.25em 0;
}

img{
  border-radius: 50%;
  border-bottom: 1px solid black;
  height: 150px;
  width: 150px;
}
p{
  margin-top: -5px;
}
h5{
  margin-bottom: -3px;
}
.container{
  background-color: whitesmoke;
  padding: 2em;
}
.each-contact{
  margin: 3px;
}
form{
  background-color: whitesmoke;
  text-align: center;
}
button{
padding: 0 55px;
  border-radius: 100px;
}
#email-phone{
  padding-left: 320px;
}

#end-entry{
  height: 2em;
}
#btn-delete:hover{
  border-color: red;
  color: red;
}
#search{
  text-align: center;
  border-radius: 100px;
  margin: 0 0 0.5em 0;
  background-color: white;
  padding: 0 3em;

}

label {
	display:block;
	margin:20px 0 0;
  padding-bottom: 10px;
	border-bottom:1px solid lightgrey;
}
label:hover {
cursor: pointer;
}
#item-1{
font-size: 36px;
font-weight: 300;
	position:absolute;
	left:-999em
}
.hide {

	border-bottom:1px solid lightgrey;
	max-height:999em;
	opacity:1;
	height:auto;
	overflow:hidden;
	transition:opacity .25s linear;
}
.hide form {
	padding:10px;
	margin:0
}
input[type=checkbox]:checked + div {
	opacity:0;
	max-height:0;
	border:none;
	transition:opacity .5s linear, max-height .5s linear;
}
